<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Brasil Nba</title>
</head>
<body>
    <header>
        <div class="background_icon">
            <button class="menu__icon">
              <span></span>
              <span></span>
              <span></span>
            </button>
        </div>
        <nav>
            <a href="">Home</a>
            <a href="">News</a>
            <a href="">Sobre nós</a>
        </nav>
        <div></div>
        <div class="background_theme">
            <button class="change-theme__icon">
              <span class="icon-sun-moon"></span>
              <span class="sun-rays">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </span>
            </button>
          </div>
    </header>
    
</body>
</html>